{% extends 'layout.html' %}

{% block pageTitle %}NHS HealthStore deployment guidance{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-xl">NHS HealthStore deployment guidance</h1>

    <p class="nhsuk-body-l">Guidance for clinicians and patients and suppliers on deploying NHS HealthStore digital therapeutics.</p>

    <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
      <h2 class="nhsuk-u-visually-hidden">Contents</h2>
      <ol class="nhsuk-contents-list__list">
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="v4/what-is-nhs-healthstore">What is NHS HealthStore?</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="v4/what-good-looks-like">What good looks like and case studies</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="v4/why-digital-therapeutics">Why digital therapeutics?</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="v4/patients-guidance">Patients guidance</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="v4/clinician-onboarding">Clinician onboarding guidance</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="v4/supplier-onboarding">Supplier onboarding guidance</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="v4/commissioner-onboarding">Commissioner onboarding guidance</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="v4/assets-to-download">Assets to download and communications kit</a>
        </li>
      </ol>
    </nav>

  </div>
</div>
{% endblock %}
