{% extends 'layout.html' %}

{% block pageTitle %}For commissioners – Assets to download – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" },
      { text: "Assets to download and communications kit", href: "/v2/assets-to-download" }
    ],
    text: "For commissioners",
    href: "/v2/assets-to-download/for-commissioners"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this section">
      <h2 class="nhsuk-contents-list__title">Contents</h2>
      <ol class="nhsuk-contents-list__list">
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/v2/assets-to-download">Assets to download and communications kit</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/v2/assets-to-download/for-commissioners">For commissioners</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/v2/assets-to-download/for-clinicians">For clinicians</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/v2/assets-to-download/for-third-party-organisations">For third party organisations</a>
        </li>
      </ol>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">For commissioners</h1>

    <p>[Content to be added]</p>

  </div>
</div>
{% endblock %}
