{% extends 'layout.html' %}

{% block pageTitle %}Case studies and best practice – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" }
    ],
    text: "Case studies and best practice",
    href: "/v5/case-studies"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-side-nav" role="navigation" aria-label="Pages in this section">
      <ul class="nhsuk-side-nav__list">
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--current" aria-current="page">
          <span class="nhsuk-side-nav__current">Case studies and best practice</span>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/case-studies/digital-therapeutics-need-to-be-embedded">Digital therapeutics (DTx) must embed into a service or pathway</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/case-studies/understanding-patients-digital-capabilities">Find ways of understanding patients' digital capabilities</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/case-studies/targeted-human-support-for-digital-inclusion">Using targeted human support to enable digital inclusion</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/case-studies/local-partners-and-third-sector">Utilising local partners and third-sector organisations to help deliver digital inclusion work</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/case-studies/make-it-clear-what-is-expected">Make it clear what is expected of patients and keep it simple</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">Case studies and best practice</h1>

    <p>The following case studies show what successful digital therapeutics (DTx) deployment looks like in practice.</p>

    <p>These case studies draw on examples from Roxton Practice in North East Lincolnshire, Airedale NHS Foundation Trust in West Yorkshire and the Cornwall and Scilly Integrated Care Board (ICB). The case studies provide information to help you understand which positive actions contributed to good outcomes for patients and clinical teams.</p>


    <div class="nhsuk-navigation-link-page">
      <p><a href="/v5/case-studies/digital-therapeutics-need-to-be-embedded">Next: Digital therapeutics (DTx) must embed into a service or pathway</a></p>
    </div>

  </div>
</div>
{% endblock %}
