{% extends 'layout.html' %}

{% block pageTitle %}Utilising local partners and third-sector organisations to help deliver digital inclusion work – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" },
      { text: "Case studies and best practice", href: "/v5/case-studies" }
    ],
    text: "Utilising local partners and third-sector organisations to help deliver digital inclusion work",
    href: "/v5/case-studies/local-partners-and-third-sector"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-side-nav" role="navigation" aria-label="Pages in this section">
      <ul class="nhsuk-side-nav__list">
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/case-studies">Case studies and best practice</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/case-studies/digital-therapeutics-need-to-be-embedded">Digital therapeutics (DTx) must embed into a service or pathway</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/case-studies/understanding-patients-digital-capabilities">Find ways of understanding patients' digital capabilities</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/case-studies/targeted-human-support-for-digital-inclusion">Using targeted human support to enable digital inclusion</a>
        </li>
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--current" aria-current="page">
          <span class="nhsuk-side-nav__current">Utilising local partners and third-sector organisations to help deliver digital inclusion work</span>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/case-studies/make-it-clear-what-is-expected">Make it clear what is expected of patients and keep it simple</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">Utilising local partners and third-sector organisations to help deliver digital inclusion work</h1>

    <p>When the Cornwall and Scilly Integrated Care Board (ICB) ran a 6-month campaign to get more patients onto COPD healthcare pathways using digital therapeutics (DTx) they took a multi-agency approach.</p>

    <p>By working with the local council, charities, and primary and secondary care, the ICB were able to reach more patients, offering them tailored support. Some national charities also provide support for those less digitally confident.</p>
<p> The following charities support digital inclusion:</p><br>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="https://www.goodthingsfoundation.org">Good Things Foundation</a></li>
      <li><a href="https://digitalpovertyalliance.org">Digital Poverty Alliance</a></li>
    </ul>


    <div class="nhsuk-navigation-link-page">
      <p><a href="/v5/case-studies/targeted-human-support-for-digital-inclusion">Previous: Using targeted human support to enable digital inclusion</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/v5/case-studies/make-it-clear-what-is-expected">Next: Make it clear what is expected of patients and keep it simple</a></p>
    </div>

  </div>
</div>
{% endblock %}
