{% extends 'layout.html' %}

{% block pageTitle %}Content governance for product information – Supplier onboarding guidance – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" },
      { text: "Supplier onboarding guidance", href: "/v4/supplier-onboarding" }
    ],
    text: "Content governance for product information",
    href: "/v4/supplier-onboarding/content-governance-for-product-information"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-side-nav" role="navigation" aria-label="Pages in this section">
      <ul class="nhsuk-side-nav__list">
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/supplier-onboarding">Supplier onboarding guidance</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/supplier-onboarding/what-you-need-in-place">What you need in place to become an NHS HealthStore supplier</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/supplier-onboarding/checklist-for-successful-onboarding">Checklist for successful onboarding</a>
        </li>
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--current" aria-current="page">
          <span class="nhsuk-side-nav__current">Content governance for product information</span>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/supplier-onboarding/terms-and-conditions">Terms and conditions</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">Content governance for product information</h1>

    <p>[Content to be added]</p>

  </div>
</div>
{% endblock %}
