{% extends 'layout.html' %}

{% block pageTitle %}How digital therapeutics (DTx) can help you – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" },
      { text: "Guidance for patients", href: "/v5/patients-guidance" }
    ],
    text: "How digital therapeutics (DTx) can help you",
    href: "/v5/patients-guidance/how-dtx-can-help-you"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-side-nav" role="navigation" aria-label="Pages in this section">
      <ul class="nhsuk-side-nav__list">
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/patients-guidance">Guidance for patients</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/patients-guidance/what-is-a-digital-therapeutic">Helping you understand what a Digital Therapeutic (DTx) is</a>
        </li>
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--current" aria-current="page">
          <span class="nhsuk-side-nav__current">How digital therapeutics (DTx) can help you</span>
          <ul class="nhsuk-side-nav__h3-list">
            <li class="nhsuk-side-nav__h3-item">
              <a class="nhsuk-side-nav__h3-link" href="/v5/patients-guidance/how-dtx-can-help-you#for-copd">For chronic obstructive pulmonary disease (COPD)</a>
            </li>
            <li class="nhsuk-side-nav__h3-item">
              <a class="nhsuk-side-nav__h3-link" href="/v5/patients-guidance/how-dtx-can-help-you#for-cvd">For cardiovascular disease (CVD)</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">How digital therapeutics (DTx) can help you</h1>

  
    <h2 class="nhsuk-heading-m" id="for-cvd">For cardiovascular disease (CVD)</h2>

    <p>A digital therapeutic (DTx) app can support you in looking after your heart if you're recovering from a heart attack, heart surgery, or if you are living with heart failure.</p>

    <p>The app can help educate you and offers a structured rehabilitation programme of exercises you can follow at home. Learning and exercising at home means you can safely regain your strength at your own pace.</p>

    <p>The app can also help you understand what's happened to your heart and why certain lifestyle changes matter. Using the app, you can track your weight, blood pressure and symptoms over time. You'll get reminders and guidance to help you build healthier habits that can reduce risk and help to keep your heart safe.</p>


    <div class="nhsuk-navigation-link-page">
      <p><a href="/v5/patients-guidance/what-is-a-digital-therapeutic">Previous: Helping you understand what a Digital Therapeutic (DTx) is</a></p>
    </div>

  </div>
</div>
{% endblock %}
