{% extends 'layout.html' %}

{% block pageTitle %}How digital therapeutics (DTx) can help you – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" },
      { text: "Guidance for patients", href: "/v5/patients-guidance" }
    ],
    text: "How digital therapeutics (DTx) can help you",
    href: "/v5/patients-guidance/how-dtx-can-help-you"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-side-nav" role="navigation" aria-label="Pages in this section">
      <ul class="nhsuk-side-nav__list">
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--current" aria-current="page">
          <span class="nhsuk-side-nav__current">Guidance for patients</span>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/patients-guidance/what-is-a-digital-therapeutic">Helping you understand what a Digital Therapeutic (DTx) is</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/patients-guidance/how-dtx-can-help-you-copd">How digital therapeutics (DTx) can help your COPD</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/patients-guidance/how-dtx-can-help-you-cvd">How digital therapeutics (DTx) can help your CVD</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">How digital therapeutics (DTx) can help you</h1>

    <h2 class="nhsuk-heading-m" id="for-copd">For chronic obstructive pulmonary disease (COPD)</h2>

    <p>A digital therapeutic app can help you manage your COPD day-to-day. You'll be asked to log your symptoms regularly using the app.</p>

    <p>The app uses videos to teach you how to use your inhaler correctly. Using your inhaler correctly will ensure that your medication works as well as possible.</p>

    <p>You can also use the app to complete a short questionnaire that tells us how your COPD is affecting your day-to-day life. The information in your questionnaire can be discussed at your appointments.</p>

    <p>Many apps also offer educational content and a full pulmonary rehabilitation programme of exercise and breathing videos you can follow at home, instead of travelling to in-person classes.</p>



    <div class="nhsuk-navigation-link-page">
      <p><a href="/v5/patients-guidance/what-is-a-digital-therapeutic">Previous: Helping you understand what a Digital Therapeutic (DTx) is</a></p>
              <a href="/v5/patients-guidance/how-dtx-can-help-you-cvd">Next: How digital therapeutics (DTx) can help your CVD</a></p>

    </div>

  </div>
</div>
{% endblock %}
