{% extends 'layout.html' %}

{% block pageTitle %}Concept of DTx – Patients guidance – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" },
      { text: "Patients guidance", href: "/patients-guidance" }
    ],
    text: "Concept of DTx",
    href: "/patients-guidance/concept-of-dtx"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this section">
      <h2 class="nhsuk-contents-list__title">Contents</h2>
      <ol class="nhsuk-contents-list__list">
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/patients-guidance">Patients guidance</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/patients-guidance/why-dtx-benefits">Why DTx / Benefits of using DTx</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/patients-guidance/concept-of-dtx">Concept of DTx</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/patients-guidance/how-dtx-can-help-you">How DTx can help you</a>
        </li>
      </ol>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">Concept of DTx</h1>

    <p>[Content to be added]</p>

  </div>
</div>
{% endblock %}
