{% extends 'layout.html' %}

{% block pageTitle %}Regular contact to help with uptake – Cornwall – What good looks like – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" },
      { text: "What good looks like and case studies", href: "/what-good-looks-like" }
    ],
    text: "Regular contact to help with uptake – Cornwall",
    href: "/what-good-looks-like/regular-contact-cornwall"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this section">
      <h2 class="nhsuk-contents-list__title">Contents</h2>
      <ol class="nhsuk-contents-list__list">
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/what-good-looks-like">What good looks like and case studies</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/what-good-looks-like/embedded-into-a-service-roxton">Embedded into a service – Roxton</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/what-good-looks-like/understanding-patients-digital-capabilities-roxton">Understanding patients' digital capabilities – Roxton</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/what-good-looks-like/support-digital-inclusion-roxton">Support digital inclusion – Roxton</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/what-good-looks-like/multi-agency-approach-cornwall">Multi-agency approach to help with uptake – Cornwall</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/what-good-looks-like/regular-contact-cornwall">Regular contact to help with uptake – Cornwall</a>
        </li>
      </ol>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">Regular contact to help with uptake – Cornwall</h1>

    <p>[Content to be added]</p>

  </div>
</div>
{% endblock %}
