{% extends 'layout.html' %}

{% block pageTitle %}What is NHS HealthStore? – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" }
    ],
    text: "What is NHS HealthStore?",
    href: "/v2/what-is-nhs-healthstore"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this section">
      <h2 class="nhsuk-contents-list__title">Contents</h2>
      <ol class="nhsuk-contents-list__list">
        <li class="nhsuk-contents-list__item" aria-current="page">
          <span class="nhsuk-contents-list__current">What is NHS HealthStore?</span>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/v2/what-is-nhs-healthstore/for-commissioners">For commissioners</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/v2/what-is-nhs-healthstore/for-clinicians">For clinicians</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/v2/what-is-nhs-healthstore/for-patients">For patients</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/v2/what-is-nhs-healthstore/for-suppliers">For suppliers</a>
        </li>
      </ol>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">What is NHS HealthStore?</h1>

    <p>NHS HealthStore is an NHS Service. It supports the safe, scaled rollout of National Institute for Clinical Excellence (NICE)-approved digital therapeutics.</p>

    <p>These apps help support people with long term health conditions.</p>

    <p>Clinical studies have proven digital therapeutics efficacy in reducing hospital admissions and improving patients reported quality of life.</p>

    <p>Until now, usage has largely been via fragmented and sporadic local campaigns or trials.</p>

    <p>There are many exemplars of good practice, but often these have emerged because of local innovation and achieved <em>despite</em> rather than <em>because</em> of national initiatives.</p>

    <p>The NHS HealthStore programme aims to change this. It will make clinically-assured digital therapeutics (DTx) easier to find, safer to use and more consistent to commission. And ensure that clinicians, commissioners and patients are well supported at every part of the journey.</p>

    <div class="nhsuk-navigation-link-page">
      <p><a href="/v2/what-is-nhs-healthstore/for-commissioners">Next: For commissioners</a></p>
    </div>

  </div>
</div>
{% endblock %}
