{% extends 'layout.html' %}

{% block pageTitle %}Terms and conditions between NHS buyer and digital therapeutics provider – Supplier onboarding guidance – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" },
      { text: "Supplier onboarding guidance", href: "/v2/supplier-onboarding" }
    ],
    text: "Terms and conditions between NHS buyer and digital therapeutics provider",
    href: "/v2/supplier-onboarding/terms-and-conditions"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this section">
      <h2 class="nhsuk-contents-list__title">Contents</h2>
      <ol class="nhsuk-contents-list__list">
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/v2/supplier-onboarding">Supplier onboarding guidance</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/v2/supplier-onboarding/what-you-need-in-place">What you need in place to become an NHS HealthStore supplier</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/v2/supplier-onboarding/checklist-for-successful-onboarding">Checklist for successful onboarding</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/v2/supplier-onboarding/content-governance-for-product-information">Content governance for product information</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/v2/supplier-onboarding/terms-and-conditions">Terms and conditions</a>
        </li>
      </ol>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">Terms and conditions between NHS buyer and digital therapeutics provider</h1>

    <p>[Content to be added]</p>

  </div>
</div>
{% endblock %}
