{% extends 'layout.html' %}

{% block pageTitle %}What NHS HealthStore is – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" }
    ],
    text: "What NHS HealthStore is",
    href: "/v5/what-is-nhs-healthstore"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-side-nav" role="navigation" aria-label="Pages in this section">
      <ul class="nhsuk-side-nav__list">
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--current" aria-current="page">
          <span class="nhsuk-side-nav__current">What NHS HealthStore is</span>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/what-is-nhs-healthstore/for-commissioners">For commissioners</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/what-is-nhs-healthstore/for-clinicians">For clinicians</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/what-is-nhs-healthstore/for-patients">For patients</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/what-is-nhs-healthstore/for-suppliers">For suppliers</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">What NHS HealthStore is</h1>

    <p>The NHS HealthStore is an upcoming digital service being developed by NHS England. It aligns with the NHS 10-Year Plan and enables NHS patients to easily access NHS-funded therapy, using the National Institute for Health and Care Excellence (NICE)-approved apps. These apps are sometimes referred to as Digital Therapeutics (DTx) and their use can help prevent, manage, or treat specific medical conditions.</p>

    <p>The NHS HealthStore makes clinically-assured DTx easier to find, safer to use and more consistent to commission. It ensures that clinicians, commissioners and patients are well supported through each part of their journey.</p>


    <div class="nhsuk-navigation-link-page">
      <p><a href="/v5/what-is-nhs-healthstore/for-commissioners">Next: For commissioners</a></p>
    </div>

  </div>
</div>
{% endblock %}
