{% extends 'layout.html' %}

{% block pageTitle %}What good looks like and case studies – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" },
      { text: "What good looks like and case studies", href: "/v4/what-good-looks-like" }
    ],
    text: "What good looks like and case studies",
    href: "/v4/what-good-looks-like"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-side-nav" role="navigation" aria-label="Pages in this section">
      <ul class="nhsuk-side-nav__list">
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--current" aria-current="page">
          <span class="nhsuk-side-nav__current">What good looks like and case studies</span>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like/digital-therapeutics-need-to-be-embedded">Digital therapeutics need to be embedded into a service or pathway</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like/understanding-patients-digital-capabilities">Find ways of understanding patients' digital capabilities</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like/targeted-human-support-for-digital-inclusion">Use targeted human support to enable digital inclusion</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like/local-partners-and-third-sector">Make the most of local partners and third sector organisations to help deliver digital inclusion work</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like/make-it-clear-what-is-expected">Make it clear what is expected of patients and keep it simple</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">What good looks like and case studies</h1>

    <p>The following case studies show what successful digital therapeutics deployment looks like in practice. <br>They draw on examples from Roxton Practice in North East Lincolnshir, Airedale NHS Foundation Trust in West Yorkshire  and the Cornwall and Scilly ICB, and highlight key factors that contributed to good outcomes for patients and clinical teams.</p>

    <p>See also <a href="/v4/clinician-onboarding/overcoming-barriers-to-adoption">overcoming barriers to adoption</a>.</p>


    <div class="nhsuk-navigation-link-page">
      <p>
        <a href="/v4/what-good-looks-like/digital-therapeutics-need-to-be-embedded">Next: Digital therapeutics need to be embedded into a service or pathway</a>
      </p>
    </div>

  </div>
</div>
{% endblock %}
