{% extends 'layout.html' %}

{% block pageTitle %}Make the most of local partners and third sector organisations to help deliver digital inclusion work – What good looks like and case studies – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" },
      { text: "What good looks like and case studies", href: "/v4/what-good-looks-like" }
    ],
    text: "Make the most of local partners and third sector organisations to help deliver digital inclusion work",
    href: "/v4/what-good-looks-like/local-partners-and-third-sector"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-side-nav" role="navigation" aria-label="Pages in this section">
      <ul class="nhsuk-side-nav__list">
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like">What good looks like and case studies</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like/digital-therapeutics-need-to-be-embedded">Digital therapeutics need to be embedded into a service or pathway</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like/understanding-patients-digital-capabilities">Find ways of understanding patients' digital capabilities</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like/targeted-human-support-for-digital-inclusion">Use targeted human support to enable digital inclusion</a>
        </li>
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--current" aria-current="page">
          <span class="nhsuk-side-nav__current">Make the most of local partners and third sector organisations to help deliver digital inclusion work</span>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like/make-it-clear-what-is-expected">Make it clear what is expected of patients and keep it simple</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">Make the most of local partners and third sector organisations to help deliver digital inclusion work</h1>

    <p>When the Cornwall and Scilly ICB were running a 6 month campaign to get more patients onto pathways using digital therapeutics to help manage their COPD, they took a multi-agency approach.</p>

    <p>By working with the local council, charities, and primary and secondary care, they were able to reach more patients and offer them tailored support. There are also national charities which help with digital inclusion support.</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="https://www.goodthingsfoundation.org">Good Things Foundation</a></li>
      <li><a href="https://digitalpovertyalliance.org">Digital Poverty Alliance</a></li>
    </ul>


    <div class="nhsuk-navigation-link-page">
      <p>
        <a href="/v4/what-good-looks-like/targeted-human-support-for-digital-inclusion">Previous: Use targeted human support to enable digital inclusion</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/v4/what-good-looks-like/make-it-clear-what-is-expected">Next: Make it clear what is expected of patients and keep it simple</a>
      </p>
    </div>

  </div>
</div>
{% endblock %}
