{% extends 'layout.html' %}

{% block pageTitle %}Multi-agency approach to help with uptake – Cornwall – What good looks like – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" },
      { text: "What good looks like and case studies", href: "/v4/what-good-looks-like" }
    ],
    text: "Multi-agency approach to help with uptake – Cornwall",
    href: "/v4/what-good-looks-like/multi-agency-approach-cornwall"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-side-nav" role="navigation" aria-label="Pages in this section">
      <ul class="nhsuk-side-nav__list">
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like">What good looks like and case studies</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like/embedded-into-a-service-roxton">Embedded into a service – Roxton</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like/understanding-patients-digital-capabilities-roxton">Understanding patients' digital capabilities – Roxton</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like/support-digital-inclusion-roxton">Support digital inclusion – Roxton</a>
        </li>
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--current" aria-current="page">
          <span class="nhsuk-side-nav__current">Multi-agency approach to help with uptake – Cornwall</span>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/what-good-looks-like/regular-contact-cornwall">Regular contact to help with uptake – Cornwall</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">Multi-agency approach to help with uptake – Cornwall</h1>

    <p>[Content to be added]</p>

  </div>
</div>
{% endblock %}
