{% extends 'layout.html' %}

{% block pageTitle %}How it works – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" },
      { text: "Clinician onboarding guidance", href: "/v5/clinician-onboarding" }
    ],
    text: "How it works",
    href: "/v5/clinician-onboarding/how-it-works"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-side-nav" role="navigation" aria-label="Pages in this section">
      <ul class="nhsuk-side-nav__list">
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/clinician-onboarding">Clinician onboarding guidance</a>
        </li>
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--current" aria-current="page">
          <span class="nhsuk-side-nav__current">How it works</span>
          <ul class="nhsuk-side-nav__h3-list">
            <li class="nhsuk-side-nav__h3-item">
              <a class="nhsuk-side-nav__h3-link" href="/v5/clinician-onboarding/how-it-works#getting-started">Start using NHS HealthStore</a>
            </li>
            <li class="nhsuk-side-nav__h3-item">
              <a class="nhsuk-side-nav__h3-link" href="/v5/clinician-onboarding/how-it-works#simplified-workflow">A simplified NHS HealthStore workflow</a>
            </li>
            <li class="nhsuk-side-nav__h3-item">
              <a class="nhsuk-side-nav__h3-link" href="/v5/clinician-onboarding/how-it-works#example-workflow-copd">Example workflow: COPD annual review</a>
            </li>
            <li class="nhsuk-side-nav__h3-item">
              <a class="nhsuk-side-nav__h3-link" href="/v5/clinician-onboarding/how-it-works#example-workflow-cohorting">Example workflow: referral via cohorting</a>
            </li>
            <li class="nhsuk-side-nav__h3-item">
              <a class="nhsuk-side-nav__h3-link" href="/v5/clinician-onboarding/how-it-works#clinical-governance">Clinical and information governance</a>
            </li>
          </ul>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/clinician-onboarding/how-to-introduce-dtx-to-patients">How to introduce digital therapeutics (DTx) to your patients</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/clinician-onboarding/integration-with-clinical-software">Integration with clinical software</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/clinician-onboarding/overcoming-barriers-to-adoption">Overcoming barriers to using DTx</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">How it works</h1>

    <h2 class="nhsuk-heading-m" id="getting-started">Start using NHS HealthStore</h2>

    <p>Your commissioning organisation will inform you when it joins The NHS HealthStore. You may be part of clinical conversations around what to commission and why.</p>

    <p>Once a digital therapeutic (DTx) has been commissioned via The NHS HealthStore, the commissioning organisation will tell you what DTx has been commissioned and when it will become available. We will provide guidance to help you integrate into the service.</p>

    <h2 class="nhsuk-heading-m" id="simplified-workflow">A simplified NHS HealthStore workflow</h2>

    <p>There are five main components that make up The NHS HealthStore service flow; they are the:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>commissioner</li>
      <li>NHS HealthStore service</li>
      <li>clinical setting</li>
      <li>NHS App</li>
      <li>digital therapeutic (DTx) app</li>
    </ul>

    <p>This diagram shows how the entities are related in the journey, from commissioning to prescribing.</p>

    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="/assets/images/simplified-workflow-nhs-healthstore.png" alt="Simplified workflow diagram showing six steps: a commissioning body procures a digital therapeutic via HealthStore Service; primary or secondary care agrees a clinical pathway; primary or secondary care prescribes the digital therapeutic via DM+D dropdown in the electronic health record; the HealthStore Service receives the prescription and triggers an NHS App message; the patient's NHS App notifies the patient and invites them to onboard; the patient downloads the digital therapeutic app and creates an account via NHS Login.">
      <figcaption class="nhsuk-image__caption">Simplified workflow showing the different organisations involved in prescribing a DTx</figcaption>
    </figure>

    <h2 class="nhsuk-heading-m" id="example-workflow-copd">Example workflow: COPD annual review</h2>

    <p>This diagram shows a referral to a COPD DTx taking place at annual review.</p>

    <p>[Diagram to be added]</p>

    <h2 class="nhsuk-heading-m" id="example-workflow-cohorting">Example workflow: referral via cohorting</h2>

    <p>This diagram shows a referral to a COPD DTx taking place via a population health management or cohorting route.</p>

    <p>[Diagram to be added]</p>

    <p>[Option to download a PDF of pathway]</p>

    <h2 class="nhsuk-heading-m" id="clinical-governance">Clinical and information governance</h2>

    <h3 class="nhsuk-heading-s">Exemplar pathways</h3>

    <p>The NHS HealthStore has worked with clinical bodies and the Getting It Right First Time (GIRFT) group to develop exemplar GIRFT pathways when using The NHS HealthStore. Following these pathways is strongly advised but is not mandatory.</p>

    <h3 class="nhsuk-heading-s">Clear clinical lead</h3>

    <p>Each pathway will need its own clinical lead.</p>

    <h3 class="nhsuk-heading-s">Information governance</h3>

    <p>Clinical pathways will be subject to the normal information governance rules. Your organisation may, however, benefit from umbrella legal and data-sharing agreements established between the commissioner and The NHS HealthStore as part of its participation in the service.</p>


    <div class="nhsuk-navigation-link-page">
      <p><a href="/v5/clinician-onboarding">Previous: Clinician onboarding guidance</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/v5/clinician-onboarding/how-to-introduce-dtx-to-patients">Next: How to introduce digital therapeutics (DTx) to your patients</a></p>
    </div>

  </div>
</div>
{% endblock %}
