{% extends 'layout.html' %}

{% block pageTitle %}Overcoming barriers to adoption – Clinician onboarding guidance – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" },
      { text: "Clinician onboarding guidance", href: "/clinician-onboarding" }
    ],
    text: "Overcoming barriers to adoption",
    href: "/clinician-onboarding/overcoming-barriers-to-adoption"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this section">
      <h2 class="nhsuk-contents-list__title">Contents</h2>
      <ol class="nhsuk-contents-list__list">
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/clinician-onboarding">Clinician onboarding guidance</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/clinician-onboarding/how-it-works">How it works</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/clinician-onboarding/how-to-introduce-dtx-to-patients">How to introduce digital therapeutics to your patients</a>
        </li>
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="/clinician-onboarding/integration-with-clinical-software">Integration with clinical software</a>
        </li>
        <li class="nhsuk-contents-list__item" aria-current="page">
          <span class="nhsuk-contents-list__current">Overcoming barriers to adoption</span>
        </li>
      </ol>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">Overcoming barriers to adoption</h1>

    <h2 class="nhsuk-heading-m">Using in person help to support adoption</h2>

    <p>[Content to be added]</p>

    <h2 class="nhsuk-heading-m">Assessing patients' digital skills</h2>

    <p>[Content to be added]</p>

    <h2 class="nhsuk-heading-m">Supporting users to get onto the NHS App</h2>

    <p>[Content to be added]</p>

    <h2 class="nhsuk-heading-m">Working with local partners and third sector organisations</h2>

    <p>[Content to be added]</p>

    <div class="nhsuk-navigation-link-page">
      <p>
        <a href="/clinician-onboarding/integration-with-clinical-software">Previous: Integration with clinical software</a>
      </p>
    </div>

  </div>
</div>
{% endblock %}
