{% extends 'layout.html' %}

{% block pageTitle %}Terms and conditions – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" },
      { text: "Supplier onboarding guidance", href: "/v4/supplier-onboarding" }
    ],
    text: "Terms and conditions",
    href: "/v4/supplier-onboarding/terms-and-conditions"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-side-nav" role="navigation" aria-label="Pages in this section">
      <ul class="nhsuk-side-nav__list">
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/supplier-onboarding">Supplier onboarding guidance</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/supplier-onboarding/what-you-need-in-place">What you need in place to become an NHS HealthStore supplier</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/supplier-onboarding/checklist-for-successful-onboarding">Checklist for successful onboarding</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v4/supplier-onboarding/content-governance-for-product-information">Content governance for product information</a>
        </li>
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--current" aria-current="page">
          <span class="nhsuk-side-nav__current">Terms and conditions</span>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">Terms and conditions</h1>

    <p>[Content to be added]</p>


    <div class="nhsuk-navigation-link-page">
      <p><a href="/v4/supplier-onboarding/content-governance-for-product-information">Previous: Content governance for product information</a></p>
    </div>

  </div>
</div>
{% endblock %}
