{% extends 'layout.html' %}

{% block pageTitle %}Assets to download and communications kit – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" }
    ],
    text: "Assets to download and communications kit",
    href: "/v5/assets-to-download"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-side-nav" role="navigation" aria-label="Pages in this section">
      <ul class="nhsuk-side-nav__list">
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--current" aria-current="page">
          <span class="nhsuk-side-nav__current">Assets to download and communications kit</span>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/assets-to-download/for-commissioners">For commissioners</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/assets-to-download/for-clinicians">For clinicians</a>
        </li>
        <li class="nhsuk-side-nav__item">
          <a class="nhsuk-side-nav__link" href="/v5/assets-to-download/for-third-party-organisations">For third party organisations</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">Assets to download and communications kit</h1>

    <p>[Content to be added]</p>


    <div class="nhsuk-navigation-link-page">
      <p><a href="/v5/assets-to-download/for-commissioners">Next: For commissioners</a></p>
    </div>

  </div>
</div>
{% endblock %}
