{% extends "layout.html" %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-one-quarter">
<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
<h2 class="nhsuk-u-visually-hidden">Contents</h2>
<ol class="nhsuk-contents-list__list">
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/why-digital-therapeutics">Why digital therapeutics</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/what-is-healthstore">What is Healthstore</a>
</li>
<li class="nhsuk-contents-list__item" aria-current="page">
<span class="nhsuk-contents-list__current">Case studies of use of digital therapeutics</span>
</li>
</ol>
</nav>
</div>
<div class="nhsuk-grid-column-three-quarters">
<h1>Case studies of use of digital therapeutics</h1>
None
<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
<ul class="nhsuk-list nhsuk-pagination__list">
<li class="nhsuk-pagination-item--previous">
<a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="/what-is-healthstore">
<span class="nhsuk-pagination__title">Previous</span>
<span class="nhsuk-u-visually-hidden">:</span>
<span class="nhsuk-pagination__page">What is Healthstore</span>
</a></li>
</ul>
</nav>
</div>
</div>
{% endblock %}
