{% extends "layout.html" %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-one-quarter">
<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
<h2 class="nhsuk-u-visually-hidden">Contents</h2>
<p class="nhsuk-u-font-weight-bold nhsnotify-side-nav__list-section">Available conditions</p>
<ol class="nhsuk-contents-list__list">
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/available-conditions">Available conditions</a>
</li>
<li class="nhsuk-contents-list__item" aria-current="page">
<span class="nhsuk-contents-list__current">Conditions readiness framework and pipeline</span>
</li>
</ol>
<p class="nhsuk-u-font-weight-bold nhsnotify-side-nav__list-section">COPD management</p>
<ol class="nhsuk-contents-list__list">
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/copd-girft-endorsed-pathways">GIRFT endorsed pathways</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/copd-specific-benefits">COPD specific benefits</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/mycopd-specific-guidance">MYCopd specific guidance</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/copd-specific-funding-options">COPD specific funding options</a>
</li>
</ol>
<p class="nhsuk-u-font-weight-bold nhsnotify-side-nav__list-section">CVD management</p>
<ol class="nhsuk-contents-list__list">
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/cvd-girft-endorsed-pathways">GIRFT endorsed pathways</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/cvd-specific-benefits">CVD specific benefits</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/mymhealth-specific-guidance">MyMHealth specific guidance</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/cvd-specific-funding-options">CVD specific funding options</a>
</li>
</ol>
</nav>
</div>
<div class="nhsuk-grid-column-three-quarters">
<h1>Conditions readiness framework and pipeline</h1>
<p>[Page content to be added.]</p>
<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
<ul class="nhsuk-list nhsuk-pagination__list">
<li class="nhsuk-pagination-item--previous">
<a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="/available-conditions">
<span class="nhsuk-pagination__title">Previous</span>
<span class="nhsuk-u-visually-hidden">:</span>
<span class="nhsuk-pagination__page">Available conditions</span>
</a></li>
<li class="nhsuk-pagination-item--next">
<a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="/copd-girft-endorsed-pathways">
<span class="nhsuk-pagination__title">Next</span>
<span class="nhsuk-u-visually-hidden">:</span>
<span class="nhsuk-pagination__page">GIRFT endorsed pathways</span>
</a></li>
</ul>
</nav>
</div>
</div>
{% endblock %}
