{% extends "layout.html" %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-one-quarter">
<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
<h2 class="nhsuk-u-visually-hidden">Contents</h2>
<ol class="nhsuk-contents-list__list">
<li class="nhsuk-contents-list__item">
<span class="nhsuk-contents-list__text nhsuk-body-s nhsuk-u-font-weight-bold">Why digital therapeutics</span>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="why-digital-therapeutics.html">Why digital therapeutics</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="what-is-healthstore.html">What is Healthstore</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="case-studies-of-use-of-dtx.html">Case studies of use of DTx</a>
</li>
<li class="nhsuk-contents-list__item">
<span class="nhsuk-contents-list__text nhsuk-body-s nhsuk-u-font-weight-bold">How it works</span>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="example-pathway-and-workflow-diagram.html">Example pathway and workflow diagram for primary care</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="what-good-looks-like-and-case-studies.html">What good looks like and case studies</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="different-models.html">Different models</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="example-communications-via-nhs-app.html">Example communications via the NHS App</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="fallback-communications-for-non-nhs-app-users.html">Fallback communications for non NHS App users</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="fallbacks-and-non-digital-routes.html">Fallbacks and non-digital routes (SMS, Letter)</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="eps-prescribing-trigger-and-epr-integration.html">EPS prescribing trigger and electronic patient record integration</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="paper-prescribers-fallbacks.html">Paper prescribers fallbacks</a>
</li>
<li class="nhsuk-contents-list__item">
<span class="nhsuk-contents-list__text nhsuk-body-s nhsuk-u-font-weight-bold">Overcoming known blockers to adoption</span>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="ensure-clarity-of-pathway-and-clinical-responsibility.html">Ensure clarity of pathway and clinical responsibility</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="poor-implementation-and-health-inequalities.html">Poor implementation has potential to exacerbate health inequalities</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="using-in-person-help-to-support-adoption.html">Using in person help to support adoption</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="assessing-users-digital-skills.html">Assessing users' digital skills</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="supporting-users-onto-nhs-app.html">Supporting users to get onto the NHS App</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="working-with-local-partners-and-third-sector.html">Working with local partners and third sector organisations</a>
</li>
<li class="nhsuk-contents-list__item">
<span class="nhsuk-contents-list__text nhsuk-body-s nhsuk-u-font-weight-bold">Communicating with your patients</span>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="timing-and-sequencing-of-information.html">Timing and sequencing of information</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="how-to-sell-a-dtx.html">How to sell a DTx</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="dtx-as-fundamental-part-of-treatment.html">DTx as a fundamental part of their treatment</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="little-and-often-drip-feed.html">Little and often, drip feed</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="regular-follow-ups-help-improve-uptake.html">Regular follow ups help improve uptake</a>
</li>
<li class="nhsuk-contents-list__item">
<span class="nhsuk-contents-list__text nhsuk-body-s nhsuk-u-font-weight-bold">COPD management</span>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="copd-girft-endorsed-pathways.html">GIRFT endorsed pathways</a>
</li>
<li class="nhsuk-contents-list__item" aria-current="page">
<span class="nhsuk-contents-list__current">COPD specific benefits</span>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="mycopd-specific-guidance.html">MYCopd specific guidance</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="copd-specific-funding-options.html">COPD specific funding options</a>
</li>
<li class="nhsuk-contents-list__item">
<span class="nhsuk-contents-list__text nhsuk-body-s nhsuk-u-font-weight-bold">CVD management</span>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="cvd-girft-endorsed-pathways.html">GIRFT endorsed pathways</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="cvd-specific-benefits.html">CVD specific benefits</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="mymhealth-specific-guidance.html">MyMHealth specific guidance</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="cvd-specific-funding-options.html">CVD specific funding options</a>
</li>
</ol>
</nav>
</div>
<div class="nhsuk-grid-column-three-quarters">
<h1>COPD specific benefits</h1>
<p>[Page content to be added.]</p>
<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
<ul class="nhsuk-list nhsuk-pagination__list">
<li class="nhsuk-pagination-item--previous">
<a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="copd-girft-endorsed-pathways.html">
<span class="nhsuk-pagination__title">Previous</span>
<span class="nhsuk-u-visually-hidden">:</span>
<span class="nhsuk-pagination__page">GIRFT endorsed pathways</span>
</a></li>
<li class="nhsuk-pagination-item--next">
<a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="mycopd-specific-guidance.html">
<span class="nhsuk-pagination__title">Next</span>
<span class="nhsuk-u-visually-hidden">:</span>
<span class="nhsuk-pagination__page">MYCopd specific guidance</span>
</a></li>
</ul>
</nav>
</div>
</div>
{% endblock %}
