<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <link href="/assets/css/main.css" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ header({
    service: {
      text: serviceName,
      href: "/v2"
    },
    navigation: {
      items: [
        {
          text: "What is HealthStore",
          href: "/v2/what-is-nhs-healthstore"
        },
        {
          text: "What good looks like",
          href: "/v2/what-good-looks-like"
        },
        {
          text: "Clinician deployment guidance",
          href: "/v2/clinician-onboarding"
        },
        {
          text: "Information for patients",
          href: "/v2/patients-guidance"
        },
        {
          text: "Condition specific guidance",
          href: "/v2/available-conditions"
        },
        {
          text: "Supplier onboarding guidance",
          href: "/v2/supplier-onboarding"
        }
      ]
    }
  }) }}
  <div class="nhsuk-width-container">
    <div class="nhsuk-phase-banner">
      <p class="nhsuk-phase-banner__content">
        <strong class="nhsuk-tag nhsuk-phase-banner__content__tag">Alpha</strong>
        <span class="nhsuk-phase-banner__text">This is a mockup for testing purposes only</span>
      </p>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% set metaAboutHtml %}
    <p class="nhsuk-body-s">Built on <a class="nhsuk-footer__list-item-link" href="https://prototype-kit.service-manual.nhs.uk/updates/">NHS prototype kit {{ prototypeKitVersion }}</a> and <a class="nhsuk-footer__list-item-link" href="https://github.com/nhsuk/nhsuk-frontend/releases/">NHS.UK frontend {{ nhsukFrontendVersion }}</a></p>
  {% endset %}
  {{ footer({
    meta: {
      items: [
        {
          href: "/",
          text: "Home"
        },