{% extends "layout.html" %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-one-quarter">
<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
<h2 class="nhsuk-u-visually-hidden">Contents</h2>
<p class="nhsuk-u-font-weight-bold nhsnotify-side-nav__list-section">How it works</p>
<ol class="nhsuk-contents-list__list">
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="example-pathway-and-workflow-diagram.html">Example pathway and workflow diagram for primary care</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="what-good-looks-like-and-case-studies.html">What good looks like and case studies</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="different-models.html">Different models</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="example-communications-via-nhs-app.html">Example communications via the NHS App</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="fallback-communications-for-non-nhs-app-users.html">Fallback communications for non NHS App users</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="fallbacks-and-non-digital-routes.html">Fallbacks and non-digital routes (SMS, Letter)</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="eps-prescribing-trigger-and-epr-integration.html">EPS prescribing trigger and electronic patient record integration</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="paper-prescribers-fallbacks.html">Paper prescribers fallbacks</a>
</li>
</ol>
<p class="nhsuk-u-font-weight-bold nhsnotify-side-nav__list-section">Overcoming known blockers to adoption</p>
<ol class="nhsuk-contents-list__list">
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="ensure-clarity-of-pathway-and-clinical-responsibility.html">Ensure clarity of pathway and clinical responsibility</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="poor-implementation-and-health-inequalities.html">Poor implementation has potential to exacerbate health inequalities</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="using-in-person-help-to-support-adoption.html">Using in person help to support adoption</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="assessing-users-digital-skills.html">Assessing users' digital skills</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="supporting-users-onto-nhs-app.html">Supporting users to get onto the NHS App</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="working-with-local-partners-and-third-sector.html">Working with local partners and third sector organisations</a>
</li>
</ol>
<p class="nhsuk-u-font-weight-bold nhsnotify-side-nav__list-section">Communicating with your patients</p>
<ol class="nhsuk-contents-list__list">
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="timing-and-sequencing-of-information.html">Timing and sequencing of information</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="how-to-sell-a-dtx.html">How to sell a DTx</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="dtx-as-fundamental-part-of-treatment.html">DTx as a fundamental part of their treatment</a>
</li>
<li class="nhsuk-contents-list__item" aria-current="page">
<span class="nhsuk-contents-list__current">Little and often, drip feed</span>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="regular-follow-ups-help-improve-uptake.html">Regular follow ups help improve uptake</a>
</li>
</ol>
</nav>
</div>
<div class="nhsuk-grid-column-three-quarters">
<h1>Little and often, drip feed</h1>
<p>[Page content to be added.]</p>
<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
<ul class="nhsuk-list nhsuk-pagination__list">
<li class="nhsuk-pagination-item--previous">
<a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="dtx-as-fundamental-part-of-treatment.html">
<span class="nhsuk-pagination__title">Previous</span>
<span class="nhsuk-u-visually-hidden">:</span>
<span class="nhsuk-pagination__page">DTx as a fundamental part of their treatment</span>
</a></li>
<li class="nhsuk-pagination-item--next">
<a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="regular-follow-ups-help-improve-uptake.html">
<span class="nhsuk-pagination__title">Next</span>
<span class="nhsuk-u-visually-hidden">:</span>
<span class="nhsuk-pagination__page">Regular follow ups help improve uptake</span>
</a></li>
</ul>
</nav>
</div>
</div>
{% endblock %}
