{% extends "layout.html" %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-one-quarter">
<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
<h2 class="nhsuk-u-visually-hidden">Contents</h2>
<p class="nhsuk-u-font-weight-bold nhsnotify-side-nav__list-section">How it works</p>
<ol class="nhsuk-contents-list__list">
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/example-pathway-and-workflow-diagram">Example pathway and workflow diagram for primary care</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/what-good-looks-like-and-case-studies">What good looks like and case studies</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/different-models">Different models</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/example-communications-via-nhs-app">Example communications via the NHS App</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/fallback-communications-for-non-nhs-app-users">Fallback communications for non NHS App users</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/fallbacks-and-non-digital-routes">Fallbacks and non-digital routes (SMS, Letter)</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/eps-prescribing-trigger-and-epr-integration">EPS prescribing trigger and electronic patient record integration</a>
</li>
<li class="nhsuk-contents-list__item" aria-current="page">
<span class="nhsuk-contents-list__current">Paper prescribers fallbacks</span>
</li>
</ol>
<p class="nhsuk-u-font-weight-bold nhsnotify-side-nav__list-section">Overcoming known blockers to adoption</p>
<ol class="nhsuk-contents-list__list">
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/ensure-clarity-of-pathway-and-clinical-responsibility">Ensure clarity of pathway and clinical responsibility</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/poor-implementation-and-health-inequalities">Poor implementation has potential to exacerbate health inequalities</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/using-in-person-help-to-support-adoption">Using in person help to support adoption</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/assessing-users-digital-skills">Assessing users' digital skills</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/supporting-users-onto-nhs-app">Supporting users to get onto the NHS App</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/working-with-local-partners-and-third-sector">Working with local partners and third sector organisations</a>
</li>
</ol>
<p class="nhsuk-u-font-weight-bold nhsnotify-side-nav__list-section">Communicating with your patients</p>
<ol class="nhsuk-contents-list__list">
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/timing-and-sequencing-of-information">Timing and sequencing of information</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/how-to-sell-a-dtx">How to sell a DTx</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/dtx-as-fundamental-part-of-treatment">DTx as a fundamental part of their treatment</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/little-and-often-drip-feed">Little and often, drip feed</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="/regular-follow-ups-help-improve-uptake">Regular follow ups help improve uptake</a>
</li>
</ol>
</nav>
</div>
<div class="nhsuk-grid-column-three-quarters">
<h1>Paper prescribers fallbacks</h1>
<p>[Page content to be added.]</p>
<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
<ul class="nhsuk-list nhsuk-pagination__list">
<li class="nhsuk-pagination-item--previous">
<a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="/eps-prescribing-trigger-and-epr-integration">
<span class="nhsuk-pagination__title">Previous</span>
<span class="nhsuk-u-visually-hidden">:</span>
<span class="nhsuk-pagination__page">EPS prescribing trigger and electronic patient record integration</span>
</a></li>
<li class="nhsuk-pagination-item--next">
<a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="/ensure-clarity-of-pathway-and-clinical-responsibility">
<span class="nhsuk-pagination__title">Next</span>
<span class="nhsuk-u-visually-hidden">:</span>
<span class="nhsuk-pagination__page">Ensure clarity of pathway and clinical responsibility</span>
</a></li>
</ul>
</nav>
</div>
</div>
{% endblock %}
