{% extends "layout.html" %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-one-quarter">
<nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
<h2 class="nhsuk-u-visually-hidden">Contents</h2>
<ol class="nhsuk-contents-list__list">
<li class="nhsuk-contents-list__item" aria-current="page">
<span class="nhsuk-contents-list__current">What is HealthStore</span>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="#for-commissioners">For commissioners</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="#for-clinicians">For clinicians</a>
</li>
<li class="nhsuk-contents-list__item">
<a class="nhsuk-contents-list__link" href="#for-patients">For patients</a>
</li>
</ol>
</nav>
</div>
<div class="nhsuk-grid-column-three-quarters">
<h1>What is HealthStore</h1>
<p>Healthstore is an NHS Service that supports the scaled rollout of NICE-approved digital therapeutics.</p>
<p>These apps help support people with long term health conditions.</p>
<p>Digital therapeutics have been proven in clinical studies to be effective in reducing hospital admissions and in improving patients reported quality of life.</p>
<h2 id="for-commissioners">For commissioners</h2>
<p>The Healthstore website connects suppliers of NICE approved digital therapeutics with commissioners. It helps commissioners to:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
<li>access clinically proven digital therapeutics</li>
<li>understand funding models and benefit from templated legal agreements</li>
<li>embed digital therapeutics into best practice clinical pathways</li>
</ul>
<p>Commissioners can use the Healthstore service to assess which clinically approved digital therapeutics are most suited to their population and to support their procurement and effective roll out.</p>
<h2 id="for-clinicians">For clinicians</h2>
<p>When a commissioner enters into an agreement with Healthstore then clinicians in this territory can begin to prescribe digital therapeutics to their patients.</p>
<p>They can benefit from:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
<li>approved clinical pathways</li>
<li>access to NICE approved digital therapeutics for their patients</li>
<li>centrally-tested communications and support embedding it into their local workflows</li>
</ul>

<h2 id="for-patients">For patients</h2>
<p>If your clinician prescribes a HealthStore app, you will get access to a digital therapeutic — an app designed to help you manage a long-term health condition.</p>
<p>These apps can help you:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
<li>manage your condition yourself, at home</li>
<li>reduce the risk of complications related to your condition</li>
<li>feel better in your everyday life</li>
</ul>
</div>


<h1>How it works</h1>
</div>
</div>
{% endblock %}