{% extends 'layout.html' %}

{% block pageTitle %}Commissioner onboarding guidance – NHS HealthStore deployment guidance{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      { text: "Home", href: "/" }
    ],
    text: "Commissioner onboarding guidance",
    href: "/v2/commissioner-onboarding"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-quarter">
    <nav class="nhsuk-side-nav" role="navigation" aria-label="Pages in this guide">
      <ul class="nhsuk-side-nav__list">
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--section">
          <a class="nhsuk-side-nav__section-link" href="/v2/what-is-nhs-healthstore">What is NHS HealthStore?</a>
        </li>
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--section">
          <a class="nhsuk-side-nav__section-link" href="/v2/what-good-looks-like">What good looks like and case studies</a>
        </li>
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--section">
          <a class="nhsuk-side-nav__section-link" href="/v2/why-digital-therapeutics">Why digital therapeutics?</a>
        </li>
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--section">
          <a class="nhsuk-side-nav__section-link" href="/v2/patients-guidance">Patients guidance</a>
        </li>
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--section">
          <a class="nhsuk-side-nav__section-link" href="/v2/clinician-onboarding">Clinician onboarding guidance</a>
        </li>
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--section">
          <a class="nhsuk-side-nav__section-link" href="/v2/supplier-onboarding">Supplier onboarding guidance</a>
        </li>
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--section">
          <span class="nhsuk-side-nav__section-heading">Commissioner onboarding guidance</span>
          <ul class="nhsuk-side-nav__nested-list">
            <li class="nhsuk-side-nav__nested-item nhsuk-side-nav__nested-item--current" aria-current="page">
              <span>Commissioner onboarding guidance</span>
            </li>
            <li class="nhsuk-side-nav__nested-item">
              <a class="nhsuk-side-nav__link" href="/v2/commissioner-onboarding/what-you-need-in-place">What you need in place to become a commissioner of NHS HealthStore</a>
            </li>
            <li class="nhsuk-side-nav__nested-item">
              <a class="nhsuk-side-nav__link" href="/v2/commissioner-onboarding/setting-up-an-account">Setting up an account</a>
            </li>
            <li class="nhsuk-side-nav__nested-item">
              <a class="nhsuk-side-nav__link" href="/v2/commissioner-onboarding/business-case-template">Business case template</a>
            </li>
            <li class="nhsuk-side-nav__nested-item">
              <a class="nhsuk-side-nav__link" href="/v2/commissioner-onboarding/data-sharing-agreement-template">Data sharing agreement template</a>
            </li>
            <li class="nhsuk-side-nav__nested-item">
              <a class="nhsuk-side-nav__link" href="/v2/commissioner-onboarding/checklist-for-successful-onboarding">Checklist for successful onboarding</a>
            </li>
            <li class="nhsuk-side-nav__nested-item">
              <a class="nhsuk-side-nav__link" href="/v2/commissioner-onboarding/checklist-for-successful-implementation">Checklist for successful implementation</a>
            </li>
            <li class="nhsuk-side-nav__nested-item">
              <a class="nhsuk-side-nav__link" href="/v2/commissioner-onboarding/post-commissioning-communications-toolkit">Post commissioning communications toolkit</a>
            </li>
          </ul>
        </li>
        <li class="nhsuk-side-nav__item nhsuk-side-nav__item--section">
          <a class="nhsuk-side-nav__section-link" href="/v2/assets-to-download">Assets to download and communications kit</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-xl">Commissioner onboarding guidance</h1>

    <p>[Content to be added]</p>

    <div class="nhsuk-navigation-link-page">
      <p><a href="/v2/commissioner-onboarding/what-you-need-in-place">Next: What you need in place to become a commissioner</a></p>
    </div>

  </div>
</div>
{% endblock %}
